* {
    padding: 0;
    margin: 0;
}

html {
    background: #010101 url("../img/html-bg.png") right top no-repeat;
    height: 100%;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    background: -moz-linear-gradient(top,  rgba(21,21,21,0) 0%, rgba(21,21,21,0) 730px, rgba(21,21,21,1) 830px, rgba(21,21,21,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(21,21,21,0) 0%,rgba(21,21,21,0) 730px,rgba(21,21,21,1) 830px,rgba(21,21,21,1) 100%);
    background: linear-gradient(to bottom,  rgba(21,21,21,0) 0%,rgba(21,21,21,0) 730px,rgba(21,21,21,1) 830px,rgba(21,21,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00151515', endColorstr='#151515',GradientType=0 );
    font-family: "Arial", sans-serif;
    line-height: 1.5;
}

.karkas {
    width: 960px;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.logo {
    margin: 190px 0 0 20px;
}

.menu {
    overflow: hidden;
    margin: 230px 0 0px 0;
    background: rgba(0,0,0,.6);
}

.menu li {
    float: left;
    font-size: 17px;
    margin: 10px 10px 0 10px;
    line-height: 1;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 10px 15px 20px 15px;
    display: block;
}

.menu li .active {
    background-color: #232323;
    border-radius: 5px 5px 0 0;
}

.content_main {
    color: #565656;
    font-size: 13px;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 80px;
}

.content_main a {
    color: #777777;
}

.content_main p {
    margin-bottom: 20px;
}

.content_main h1 {
    color: #dbdada;
    font-size: 17px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.content_main img {
    border: 2px solid #151515;
    margin-bottom: 20px;
    display: block;
}

.content_main_blocks {
    overflow: hidden;
}

.content_main_blocks div {
    float: left;
    width: 277px;
    margin: 0 21px;
}

.read_more {
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    background: #444444;
}

.footer_wrapper {
    background: #080808;
}

.footer_main {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}

.footer_left {
    float: left;
}

.footer_right {
    float: right;
}

.footer_right  img{
    margin: 0 10px;
}

.footer_left img {
    float: left;
}

.footer_left p {
    float: left;
    color: #fefcfc;
    font-size: 14px;
    padding: 14px 0 0 10px;
}

.footer_left p a {
    color: #fefcfc;
    margin-top: 10px;
}

.ex_place {
    background: url("../img/ex-place.jpg") no-repeat left 50%;
    padding-left: 35px;
}

.ex_date {
    background: url("../img/ex-date.jpg") no-repeat left 50%;
    padding-left: 35px;
}

.ex_ticket {
    background: url("../img/ex-ticket.jpg") no-repeat left 50%;
    padding-left: 35px;
}

.content_left {
    float: left;
    width: 607px;
    padding: 0 20px 0 10px;
}

.sidebar {
    float: right;
    width: 280px;
}

.img_left {
    float: left;
    margin-right: 20px;
}

.contacts_form p {
    font-size: 17px;
    color: #565656;
}

.contacts_form label {
    width: 150px;
    display: block;
    float: left;
}

.contacts_form input[type=text],
.contacts_form input[type=email],
.contacts_form textarea {
    width: 300px;
    padding: 6px 20px;
    background: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.6);
    color: #ffffff;
    font-size: 17px;
    border-radius: 10px;
}

input:focus,
textarea:focus {
    border: 1px solid #484848 !important;
    outline: none;
}

.contact_address {
    background: url("../img/ex-place.jpg")0 50% no-repeat;
    padding-left: 35px;
}

.contact_phone {
    background: url("../img/contact-phone.jpg")0 50% no-repeat;
    padding-left: 35px;
}

.contact_mail {
    background: url("../img/contact-mail.jpg")0 50% no-repeat;
    padding-left: 35px;
}

.contact_license {
    background: url("../img/contact-licensia.jpg")0 50% no-repeat;
    padding-left: 35px;
}

.portfolio_img {
    float: left;
    margin-bottom: 30px;
}

.portfolio_img:nth-child(2n) {
    float: right;
}

